.housing__title {
    color: #FF6060;
    font-weight: 400;
    margin: 5px 0;
}

.housing__location {
    color: #FF6060;
    font-weight: 300;
    margin: 5px 0;
    margin-top: -20px;
    padding: 0;
}

.housing__info-container {
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.housing__tag-list {
    display: flex;
}

.housing__accordion {
    min-height: 100%;
    width: 47%;
}

/* Breakpoint Mobile */

@media all and (max-width: 767px) {

    .housing__info-container {
        margin: 20px 20px;
    }

}