.housing-card__container {
    position: relative;
    background-size: cover;
    height: 20vw;
    width: 25%;
    margin: 40px 2.7vw;
    border-radius: 10px;
}

.housing-card__container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .5) 100%);
    border-radius: 10px;
}

.housing-card__title {
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 90%;

    font-size: 18px;
    font-weight: 300;
    color: white;

    z-index: 1;
}


/* Breakpoint Tablettes */

@media all and (max-width: 992px) {

    .housing-card__container {
            height: 20vw;
            width: 40%;
            margin: 40px 3vw;
            border-radius: 10px;
        }

}

/* Breakpoint Mobile */

@media all and (max-width: 767px) {

    .housing-card__container {
        height: 40vw;
        width: 100%;
        margin: 20px 0;
        border-radius: 10px;
    }

}