.page-not-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found__number {
    margin: 0;
    padding: 0;
    font-size: 18vw;
    font-weight: 700;
    color: #FF6060;
}

.page-not-found__oops {
    font-size: 2.5vw;
    font-weight: 300;
    color: #FF6060;
}

.page-not-found__back {
    margin-top: 10vh;
    font-size: 1.4vw;
    color: #FF6060;
}